body{
    font-family: 'Lato', sans-serif;
    width: 95%;  
}
.menu{
    display: inline-block;
    /* float: right; */
    text-decoration: none;
    /* margin-left: 200px; */
}
a{
    text-decoration: none;

}
h1{
font-size: 70px;
line-height: 50px;
}

h2{
    font-size: 50px;
}
.sohel{
    color: indianred;
}
h3{
    font-size: 30px;
    padding-left: 40px;
    /* display: inline-block; */
}
p{
color: dimgray;
text-align: center;
}

.section{
    width: 100%;
    /* border: 1px solid rebeccapurple; */
    margin-top: 10px;
}
.first{
    display: inline-block;
    margin-left: o auto;
    padding: 20px;
}

/* #first-image{
    margin: 50px 100px;
    padding: 20px;
} */

.hire{
    text-decoration: none;
    background-image:linear-gradient(45deg, blue, red);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.second {
    display: inline-block;
    margin-left: o auto;
    padding: 20px;
    /* float: left; */
}
/* #second{
    display: inline-block;
    margin-left: o auto;
    padding: 20px;
    float: right;
} */
.three{
    width 30%;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    /* box-shadow:gray; */
    /* float: left; */
}

.image{
    width: 300px;
    margin: 10px 10px;
    padding: 10px;
    /* float: left; */
}

.latest{
    text-align: center;
    margin-left: 50px;
}

.orage{
    color: greenyellow;
}
.footer{
    display: inline;
    text-align: center;
    color: displsy;
}